hashkey%3d5294y06jbispm5x9%26choosepayment%3dcredit%26devicesource%3d%26encrypttype%3d1%26invoicemark%3dn%26itemname%3d%e6%b8%ac%e8%a9%a6%e5%95%86%e5%93%81%e7%ad%89%26merchantid%3d2000132%26merchanttradedate%3d2017%2f12%2f10+15%3a45%3a30%26merchanttradeno%3df0a0d7e9fae1bb72bc93%26paymenttype%3daio%26platformid%3d%26returnurl%3dhttp%3a%2f%2f169.254.193.160%3a8080%26totalamount%3d100%26tradedesc%3d%e6%b8%ac%e8%a9%a6%e4%ba%a4%e6%98%93%e6%8f%8f%e8%bf%b0%26hashiv%3dv77hokgq4kwxnnis
<form id="_form_aiochk" action="https://payment-stage.allPay.com.tw/Cashier/AioCheckOut/V4" method="post">
  <input type="hidden" name="MerchantTradeNo" id="MerchantTradeNo" value="jedncysuek9s7e3kso2" />
  <input type="hidden" name="MerchantTradeDate" id="MerchantTradeDate" value="2017/12/10 15:45:30" />
  <input type="hidden" name="TotalAmount" id="TotalAmount" value="100" />
  <input type="hidden" name="TradeDesc" id="TradeDesc" value="測試交易描述" />
  <input type="hidden" name="ItemName" id="ItemName" value="測試商品等" />
  <input type="hidden" name="ReturnURL" id="ReturnURL" value="http://169.254.193.160:8080" />
  <input type="hidden" name="ChoosePayment" id="ChoosePayment" value="Credit" />
  <input type="hidden" name="PlatformID" id="PlatformID" value="" />
  <input type="hidden" name="MerchantID" id="MerchantID" value="2000132" />
  <input type="hidden" name="InvoiceMark" id="InvoiceMark" value="N" />
  <input type="hidden" name="DeviceSource" id="DeviceSource" value="" />
  <input type="hidden" name="EncryptType" id="EncryptType" value="1" />
  <input type="hidden" name="PaymentType" id="PaymentType" value="aio" />
  <input type="hidden" name="CheckMacValue" id="CheckMacValue" value="17E128806EE70F1F988CB702E6D85492FF210D6DED4483DF47BEAC158E9D568C" />
  <script type="text/javascript">document.getElementById("_form_aiochk").submit();</script>
</form>
