<form class="forgot-modal-content" method="POST">
  <div class="register-container">
    <div class="my-row">
      <div class="my-col-25">
        <label for="email">請輸入信箱</label>
      </div>
      <div class="my-col-75">
        <input class="form-control" type="text" name="email" autofocus="autofocus"/>
      </div>
      <button class="forgot-button" class="btn btn-primary" type="submit">重設密碼</button>
    </div>
  </div>
</form>
