<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Deja Vu</title>

    <!-- Bootstrap core CSS -->
    <link href="https://www.dejavu-ns.com/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://www.dejavu-ns.com/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.dejavu-ns.com/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://www.dejavu-ns.com/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="https://www.dejavu-ns.com/css/new-age.min.css" rel="stylesheet">
    <!-- tab icon -->
    <link href="https://www.dejavu-ns.com/img/maipo.ico" rel="shortcut icon" type="image/x-icon" />

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" style="font-size: 24px;" href="#page-top">Deja Vu (Beta)</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          選單
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-size: 24px;" href="#tech">核心技術</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-size: 24px;" href="#features">更多功能</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="font-size: 24px;" href="#contact">聯絡我們</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">似曾相識．給您一試<br>整合體驗交友方式</h1>
              <h4>推廣期間，免費試用<br>掃描QR Code立刻開始<br><br>(QR Code製作中...)</h4>
              <br><br>
              <a href="#tech" class="btn btn-outline btn-xl js-scroll-trigger" style="font-size: 16px;">查看更多功能</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <!--<img src="img/IMG_7195.PNG" class="img-fluid" alt="">-->
                    <img src="https://www.dejavu-ns.com/img/IMG_7195.PNG" class="img-fluid" alt="">

                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="tech bg-primary text-center" id="tech">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">圖片特徵辨識技術</h2>
            <hr>
            <br>
            <p style="font-size: 34px;">上傳照片，我們幫您配對出相似的對象</p>
            <div class="badges">
              <a class="badge-link" href="#"><img src="" alt=""></a>
              <a class="badge-link" href="#"><img src="" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>更 多 功 能 ． 無 限 可 能</h2>
          <p class="text-muted"></p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="https://www.dejavu-ns.com/img/IMG_7197.PNG" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-reload text-primary"></i>
                    <h3>全自動媒合功能</h3>
                    <p class="text-muted">自動辨識<br>自動過濾<br>自動評估<br>自動推薦</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-bubbles text-primary"></i>
                    <h3>完全整合LINE</h3>
                    <p class="text-muted">加入DejaVu好友即可<br>簡易三大指令達成基本功能<br>完全在LINE上面操作<br>貼圖照常使用</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-lock text-primary"></i>
                    <h3>高隱私．高互動</h3>
                    <p class="text-muted">不重複推薦<br>不連結臉書和Instagram<br>媒合後才會交換LINE<br>關閉帳號即停止推薦<br>處理雙方36種互動組合</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-target text-primary"></i>
                    <h3>系統審核．用戶檢舉</h3>
                    <p class="text-muted">系統定期審核照片<br>用戶可檢舉不當用戶<br>提供用戶更友善的環境</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>別再等待，<br>立刻期待。</h2>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>我們
          <i class="fa fa-heart"></i>
          任何新朋友！</h2>
        <h2>這是性別友善交友環境</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>
