<form class="reset-modal-content" method="POST">
  <div class="reset-container">
    <div class="my-row">
      <div class="my-col-25">
        <label for="password">新密碼</label>
      </div>
      <div class="my-col-75">
        <input class="form-control" type="password" name="password" value="" placeholder="New password" autofocus="autofocus"/>
      </div>
      <div class="my-col-25">
        <label for="confirm">確認新密碼</label>
      </div>
      <div class="my-col-75">
        <input class="form-control" type="password" name="confirm" value="" placeholder="Confirm password"/>
      </div>
      <button class="reset-button" class="btn btn-primary" type="submit">更新密碼</button>
    </div>
  </div>
</form>
